@import '../../node_modules/bootstrap/scss/bootstrap';

// Custom CSS

.app-container {
  max-width: 980px;
  padding: 20px 0;
}

.app-body {
  min-height: 600px;
  padding: 20px;
}

.app-header {
  margin-bottom: 20px;
  line-height: 30px;
  border-radius: 0.3rem;

  .brand-logo {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
  }
}

.app-content {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;

  .card-img-top {
    width: 100%;
    max-height: 200px;
  }
}

.list-group {
  width: 300px;

  &-item {
    padding: 0.3rem 1.25rem;
  }
}

.back-nav {
  width: 200px;
  margin: 0 auto 20px auto;
  text-align: center;
}
